<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>filmfest</title>
    <link rel="stylesheet" href="../static/css/filmfest.css">
</head>
<body>
    {% include 'base.html' %}
    <div class="mainbody f_w">
        <h1 class="title f_w">
            84th Oscars
        </h1>
        <div class="f_w maininfo">
            <ul>
                <li>
                    <div class="award_name">Best Performance by an Actress in a Leading Role</div>
                    <a href="" class="item_name">Emma Stone</a>
                    <hr style="color: white">
                </li>
                <li>
                    <div class="award_name">Best Performance by an Actress in a Leading Role</div>
                    <a href="" class="item_name">Emma Stone</a>
                    <hr style="color: white">
                </li>
                <li>
                    <div class="award_name">Best Performance by an Actress in a Leading Role</div>
                    <a href="" class="item_name">Emma Stone</a>
                    <hr style="color: white">
                </li>
                <li>
                    <div class="award_name">Best Performance by an Actress in a Leading Role</div>
                    <a href="" class="item_name">Emma Stone</a>
                    <hr style="color: white">
                </li>
                <li>
                    <div class="award_name">Best Performance by an Actress in a Leading Role</div>
                    <a href="" class="item_name">Emma Stone</a>
                    <hr style="color: white">
                </li>
                <li>
                    <div class="award_name">Best Performance by an Actress in a Leading Role</div>
                    <a href="" class="item_name">Emma Stone</a>
                    <hr style="color: white">
                </li>
                <li>
                    <div class="award_name">Best Performance by an Actress in a Leading Role</div>
                    <a href="" class="item_name">Emma Stone</a>
                    <hr style="color: white">
                </li>
            </ul>
        </div>

    </div>
</body>
</html>