<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>follow</title>
    <link rel="stylesheet" href="../static/css/comment.css">
</head>
<body>
     {% include 'base.html' %}
    <h1 class="c_w title">请输入关注的用户的ID</h1>
    <div class="comment_w c_w">
        <form method="post">
            <label>Like_User_name:
            </label><input type="text" name="username"><br>
            {% if user_name %}
            <input type="submit" value="提交"><br>
            {% else %}
            <h1>请先登陆！</h1>
            {% endif %}
        </form>
    </div>
</body>
</html>