<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
    <link rel="stylesheet" href="../static/css/user.css">
</head>
<body>
{#为了方便直接引用的事comment的结构#}
    {% include 'base.html' %}
    <div class="comment-bd c_w">
        {% for person_info in person_infos %}
            <div class="content">
                    <p>{{ person_info[0] }}</p>
            </div>
            <div class="status">
{#                <span class="author">#}
{#                    {{ film_comment[6] }}#}
{#                </span>#}
                <a href="/follow" class="icon agree" type="submit">&#xf234</a>&nbsp;
                <span class="separator">·</span>&nbsp;
                <span class="agree_number">
                    {{ person_info[2] }}
                </span>
            </div>
        {% endfor %}
    </div>
</body>